@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
nav {
    background: hsl(196, 90%, 20%);
    color: #fff;
    display: flex;
    align-items: center;
    opacity: 0.8;
}
h1 {
    font-size: 50px;
    padding: 10px;
    margin-left: 90px;
    flex: 2;
}
marquee {
    flex: 2;
    font-family: 'Battambang', cursive;
    font-size: 20px;
}
.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.card {
    box-shadow: 0px 5px 12px 0px rgba(173, 173, 173, 0.75);
    -webkit-box-shadow: 0px 5px 12px 0px rgba(173, 173, 173, 0.75);
    -moz-box-shadow: 0px 5px 12px 0px rgba(173, 173, 173, 0.75);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.4;
    border-top:3px solid purple;
    box-sizing: border-box;
    width: 32%;
}
.btn{
    align-self: center;
}
.card a {
    background: hsl(139, 69%, 40%);
    color: #fff;
    padding: 12px;
    font-size: 14px;
    box-sizing: border-box;
}
.card p {
    margin-bottom: 17px;
}
.card a {
    text-transform: uppercase;
}
.round img {
    width: 100%;
}
.graph-container {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ccc;
}
.graph-container img {
    width: 80%;
}
.rd1 {
    border-top: 5px solid #168869;
}
.rd2 {
    border-top: 5px solid #f1b049;
}
.rd3 {
    border-top: 5px solid #f60a45;
}
.rd1, .rd2,.rd3,.r1,.r2,.r3{
    border-radius: 10px;
}
.r1 {
    background: green !important;
}
.r2 {
    background: orange !important;
}
.r3 {
    background: #f60a45 !important;
}
@media (max-width: 900px) {
    .card {
        width: 49%;
        margin-top: 10px;
    }
    .graph-container img {
        width: 100%;
    }
    nav {
        flex-direction: column;
    }
    h1 {
        margin: 0;
        text-align: center;
    }
}
@media (max-width: 600px) {
    .card {
        width: 100%;
        margin-top: 10px;
    }
    h1 {
        font-size: 30px;
    }

}